<!DOCTYPE html>
<html>
<head>
    <title>Attendance Report</title>
</head>
<body>

<h2>Student Attendance Report</h2>

<p><strong>ID:</strong> {{ student.stId }}</p>
<p><strong>Name:</strong> {{ student.stName }}</p>

<table border="1" cellpadding="10">
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Status</th>
    </tr>

    {% for row in records %}
    <tr>
        <td>{{ row.lecId }}</td>
        <td>{{ row.attendedTime }}</td>
        <td>{{ row.status }}</td>
    </tr>
    {% endfor %}
</table>

<br><br>

<button onclick="window.print()">Print</button>

</body>
</html>